<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7AwpLgVVsLzSI5PqHF16Ezmh6ustY9WA</string>
	<key>GCM_SENDER_ID</key>
	<string>70267293643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firstproject-e8fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>firstproject-e8fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70267293643:ios:4dcde9a0afcd054b15b04e</string>
</dict>
</plist>